code,
pre {
    font-family:
        Berkeley Mono,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
blockquote,
figure,
hr {
    > code {
        font-size: 0.9rem;
        padding: 0.15rem 0.4rem;
        letter-spacing: 0px;
        border-radius: 3px;
        background-color: #313135;

        @media (prefers-color-scheme: light) {
            background-color: #eaeaea;
        }
    }
}

pre {
    display: block;
    padding: 1rem;
    overflow-x: auto;
    border-radius: 8px;
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: 0px;
}

.highlight {
    margin-bottom: 1rem;
    border-radius: 4px;
}
.highlight pre {
    margin-bottom: 0;
}
