@import "./breakpoint_mixin";
@import "./normalize";
@import "./type_scale";
@import "./animations";
@import "./global";
@import "./code";

body {
  min-height: 100vh;
  height: auto !important;
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(auto, 48rem) minmax(20px, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 2rem;
  grid-template-areas:
    ". nav-header ."
    ". content ."
    "footer footer footer";

}

.top-nav {
  ul {
    list-style: none;
  }
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
}

.nav-header {
  grid-area: nav-header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.nav-links {
  list-style: none;
  margin: 0;
  margin-left: 5px;
  padding: 0;
  li {
    margin-left: 5px;
    display: inline-block;
  }
  a.active {
    color: #f40000;
    border-bottom: 2px dashed #f40000;
  }
}

.main {
  grid-area: content;
  overflow-x: hidden;
}

.footer {
  grid-area: footer;
  height: 100px;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(auto, 48rem) minmax(1rem, 1fr);
  align-content: center;
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  grid-column-start: 2;
  grid-column-end: 3;
  li {
    margin-left: 8px;
    display: inline-block;
  }
  li:first {
    margin-left: 0;
  }
}

.mono {
  font-family: Consolas, monaco, monospace;
}

.header-title {
  user-select: none;
  a,
  a:hover,
  a:focus,
  a:active,
  a:visited {
    text-decoration: none;
    color: inherit;
    border-bottom: none;
  }
}

article header h2 {
  margin: 0;
}

.post-title {
  text-align: center;
}

.post-meta {
  text-align: center;
  color: #73d0ff;
}
