{% extends "index.html" %}

{% block title %} {{ config.title }} => {{ term.name }} {% endblock title %}

{% block content %}
        <h2>{{ term.name }}</h2>
        {% for page in term.pages %}
          <dl>
            <dt>
              <time>{{ page.date | date(format="%F") }}</time>
            </dt>
            <dd>
              <a href="{{ page.permalink }}">
                <h2>{{ page.title }}</h2> 
                <h4>{{page.description}}</h4>
              </a>
            </dd>
          </dl>
        {% endfor %}
    </div>
{% endblock content %}
